.main-container {
  margin-top: 40px;
  text-align: center;
}

.main-heading {
  margin-bottom: 20px;
  color: #333; /* Example color */
  background-color: aqua;
  border-radius: 5px;
  border-width: 10px;
}

.main-content {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.featured,
.sides {
  flex: 1;
  margin: 0 10px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background-color: #f0f0f0; /* Example color */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Example shadow */
}

.details-link {
  display: block;
  margin-top: 10px;
  color: blue; /* Example color */
}
.add-content-link {
  display: block;
  margin-bottom: 20px;
  color: rgb(31, 255, 169); /* Example color */
}
